/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* עיצוב מותאם משלך */
body {
  margin: 0;
  font-family: 'Assistant', Arial, sans-serif;
  background-color: #f9fafb;
  direction: rtl;
}

button {
  cursor: pointer;
}
